$is_woocommerce: "no"; /*

THEME COLORS

*/
$theme_color1: #84dcc6; //green
$theme_color2: #313896; //blue
$theme_color3: #95a3b3; //text-color
$theme_color4: #dce0e7; //grey bg
$theme_color5: #222; // article color
$widget-title: #6d7c8e;
$footer_bg: #1b1b1b; /*

THEME FONTS

*/
$font_family_1: "Roboto", sans-serif;
/*

MISC

*/